<connectionStrings>
  <!--<add name="IdSvr3Config" connectionString="Server=(local)\SQL2014;Database=master;User ID=sa;Password=Password12!;" providerName="System.Data.SqlClient" />-->
  <add name="IdSvr3Config" connectionString="Server=.;Database=Id3;Integrated Security=yes" providerName="System.Data.SqlClient" />
</connectionStrings>

